.poster {
  --poster-width: 500px;
  --poster-height: 600px;
  --primary: #e5d7bc;
  --black: #000;
  --blue: #31818a;
  --green: #4d743d;
  --red: #ae3733;

  position: relative;
  margin: 0 auto;
  margin-bottom: 80px;
  width: var(--poster-width);
  background-color: var(--primary);
  color: var(--primary);
  overflow: hidden;
  font-family: "Anton", sans-serif;
}

span {
  position: absolute;
  line-height: 600px;
  font-size: 600px;
}

span:nth-child(1) {
  position: relative;
  z-index: 1;
  color: var(--black);
}

span:nth-child(2) {
  left: 200px;
}

.poster-1 span:nth-child(2) {
  color: var(--red);
}

.poster-2 span:nth-child(2) {
  color: var(--blue);
}

.poster-3 span:nth-child(2) {
  color: var(--green);
}

h1,
h2,
p {
  position: absolute;
  z-index: 2;
}

h1 {
  top: 320px;
  left: 24px;
  font-size: 30px;
}

h2 {
  top: 320px;
  left: 384px;
  line-height: 26px;
  font-size: 24px;
  text-transform: uppercase;
}

p {
  top: 402px;
  left: 384px;
  font-size: 16x;
}
