.poster {

  --poster-width: 400px;
  --poster-height: 600px;
  --orange: #ef490f;
  --white: #dde1d5;
  --yellow: #ffd101;

  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: var(--poster-padding);
  width: var(--poster-width);
  height: var(--poster-height);
  outline: 16px solid #eee;
  background-color: var(--orange);
  color: var(--white);
  font-family: neue-haas-grotesk-display, "Helvetica Neue", Helvetica, sans-serif;
}

.artwork {
  position: relative;
  background-color: var(--white);
  border-bottom: var(--poster-width) solid var(--yellow);
  border-left: var(--poster-width) solid transparent;
}

.artwork-wrapper {
  display: flex;
  position: absolute;
  left: calc(var(--poster-width) * -1);
}

.artwork-wrapper .col div {
  width: calc(var(--poster-width) / 9);
  height: calc(var(--poster-width) / 9);
  border-top: calc(var(--poster-width) / 9) solid var(--orange);
  border-right: calc(var(--poster-width) / 9) solid transparent;
}

h1 {
  padding: 0 16px;
  font-size: 38px;
}

.footer {
  display: flex;
  margin-top: auto;
  padding: 16px;
}

.footer p {
  font-size: 8px;
  font-weight: bold;
}

.footer p:nth-child(1) {
  padding-right: 16px;
}

.footer p:nth-child(2) {
  flex: 1;
}
