.poster {
    --poster-width: 400px;
    --poster-height: 600px;

    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: var(--poster-padding);
    width: var(--poster-width);
    height: var(--poster-height);
    outline: 16px solid #eee;
    font-family: neue-haas-grotesk-display, "Helvetica Neue", Helvetica, sans-serif;
  }

