html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;  
}

:root {
  --poster-width: 400px;
  --poster-height: 600px;
  
  --black: #010005;
  --grey: #c3c5c7;
}

body {
  margin: 32px 0;
  font-family: neue-haas-grotesk-display, "Helvetica Neue", Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  color: var(--black);
}

.poster {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: var(--poster-padding);
  width: var(--poster-width);
  height: var(--poster-height);
  outline: 16px solid #eee;
  background-color: var(--grey);
}

header {
  display: flex;
  padding: 16px;
  font-size: 9px;
}

header p:nth-child(1) {
  flex: 1;
}

header p:nth-child(2) {
  padding-right: 16px;
}

h1 {
  padding-left: 16px;
  font-size: 84px;
}

.artwork {
  display: flex;
  height: 100%;
}

.artwork > div {
  width: calc(var(--poster-width) / 5);
}

.artwork div:nth-child(1) {
  background-color: #7fba31;
}

.artwork div:nth-child(2) {
  background-color: #f02519;
}

.artwork div:nth-child(3) {
  background-color: #dee0d5;
}

.artwork div:nth-child(4) {
  background-color: var(--black);
}

.artwork div:nth-child(5) {
  background-color: #13bac4;
}