.poster {
  overflow: hidden;
  background-color: #dbe2d4;
  color: #00010f;
}

.artwork {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 0;
}

.artwork div {
  width: 380px;
  height: 380px;
  border-width: 100px;
  border-style: solid;
  border-radius: 100%;
}

.artwork div:nth-child(1) {
  border-color: #00a095;
}

.artwork div:nth-child(2) {
  position: absolute;
  top: 56px;
  border-color: #ed008e;
  mix-blend-mode: multiply;
}

.header {
  display: flex;
  align-items: last baseline;
  margin-top: 52px;
}

h1 {
  padding: 0 16px;
  font-size: 44px;
}

.header p {
    line-height: 1;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  padding: 16px;
  font-size: 9px;
}
