html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --poster-width: 400px;
  --poster-height: 600px;

  --black: #270f2b;
  --white: #dbe1d5;

  --pink-100: #ed008c;
  --pink-200: #cb017b;
  --pink-300: #b6006f;
  --pink-400: #98005d;
  --pink-500: #7d004c;
  --pink-600: #630039;
  --pink-700: #460024;
  --pink-800: #060000;
}

body {
  margin: 32px 0;
  font-family: neue-haas-grotesk-display, "Helvetica Neue", Helvetica,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--black);
}

.poster {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: var(--poster-padding);
  width: var(--poster-width);
  height: var(--poster-height);
  background-color: var(--pink-100);
  outline: 16px solid #eee;
}

header {
  flex: 1;
  display: flex;
  padding: 16px;
}

header p {
  font-size: 9px;
  font-weight: bold;
}

header p:nth-child(1) {
  padding-right: 16px;
}

header p:nth-child(3) {
  text-align: right;
  flex: 1;
}

h1 {
  margin-top: auto;
  padding: 8px 16px;
  line-height: 0.9;
  font-size: 64px;
  color: var(--white);
}

.artwork {
  display: flex;
  flex-wrap: wrap;
  height: var(--poster-width);
}

.artwork > div {
  width: 100px;
  height: 100px;
}

.artwork div:nth-child(1) {
  background-color: var(--pink-200);
}

.artwork div:nth-child(2) {
  background-color: var(--pink-300);
}

.artwork div:nth-child(3) {
  background-color: var(--pink-400);
}

.artwork div:nth-child(4) {
  background-color: var(--pink-500);
}

.artwork div:nth-child(5) {
  background-color: var(--pink-300);
}

.artwork div:nth-child(6) {
  background-color: var(--pink-400);
}

.artwork div:nth-child(7) {
  background-color: var(--pink-500);
}

.artwork div:nth-child(8) {
  background-color: var(--pink-600);
}

.artwork div:nth-child(9) {
  background-color: var(--pink-400);
}

.artwork div:nth-child(10) {
  background-color: var(--pink-500);
}

.artwork div:nth-child(11) {
  background-color: var(--pink-600);
}

.artwork div:nth-child(12) {
  background-color: var(--pink-700);
}

.artwork div:nth-child(13) {
  background-color: var(--pink-500);
}

.artwork div:nth-child(14) {
  background-color: var(--pink-600);
}

.artwork div:nth-child(15) {
  background-color: var(--pink-700);
}

.artwork div:nth-child(16) {
  background-color: var(--pink-800);
}