html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;  
}

:root {
  --poster-width: 400px;
  --poster-height: 600px;
}

body {
  margin: 32px 0;
  font-family: neue-haas-grotesk-display, "Helvetica Neue", Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  color: #010115;
}

.poster {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: var(--poster-padding);
  width: var(--poster-width);
  height: var(--poster-height);
  outline: 16px solid #eee;
  overflow: hidden;
  background-color: #ced0d1;
}

header {
  display: flex;
  padding: 16px;
  font-size: 9px;
}

header p:nth-child(1) {
  padding-right: 16px; 
}

header p:nth-child(3) {
  flex: 1;
  text-align: right;
}

h1 {  
  margin-top: auto;
  padding: 0 16px;
  line-height: 1;
  font-size: 36px;
}

.artwork {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 0;
}

.artwork div {  
  width: 380px;
  height: 380px;
  border-width: 100px;
  border-style: solid;
  border-radius: 100%;
}

.artwork div:nth-child(1) {
  border-color: #f02517;
}

.artwork div:nth-child(2) {
  position: absolute;
  top: 0;
  left: 140px;
  border-color: #0187c5;
  mix-blend-mode: multiply;
}