html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --poster-width: 840px;
  --poster-height: 600px;

  --primary: #e0d2b5;
  --blue: #567381;
  --green: #48845e;

  --square: 250px;
  --gap: 16px;

}

body {
  padding: 64px 0;
  font-family: 'Noto Sans JP', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--primary);

}

.poster {
  margin: 0 auto;
  padding: 24px;
  width: var(--poster-width);
  background-color: var(--primary);
}

h1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: var(--gap);
  gap: var(--gap);
}

h1 > span {
  height: var(--square);
  display: flex;
  justify-content: center;
  align-items: center;

}

h1 > span > span {
  position: relative;
  top: -16px;
  font-size: 280px;
}

h1 > span:nth-child(odd) {
  background-color: var(--blue);
}

h1 > span:nth-child(even) {
  background-color: var(--green);
}

h2 {
  padding: 0 var(--gap);
  font-size: 84px;
  text-transform: uppercase;
  background-color: var(--blue);
}



