<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% set css %}{% include "css/index.css" %}{% endset %}
    <style>{{ css | cssmin | safe }}</style>
    <link rel="stylesheet" href="/css/prism-atom-dark.css" />
    <title>{{ title }}</title>
  </head>
  <body>
    {% include "layouts/header.njk" %}
    <main>
      <div class="content">
        {{ content | safe }}
      </div>
    </main>
    {% include "layouts/footer.njk" %}
  </body>
</html>