<!doctype html>
<html lang="en">
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-74515875-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-74515875-1');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ renderData.description or description or metadata.description }}">
    <meta name="theme-color" content="#333333"/>
    {% set cssBase %}{% include "css/base.css" %}{% endset %}
    <style>{{ cssBase | cssmin | safe }}</style>
    {% set cssArticle %}{% include "css/article.css" %}{% endset %}
    <style>{{ cssArticle | cssmin | safe }}</style>
    <link rel="stylesheet" href="/css/ally-light.css" />
    <title>{{ title }}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
  </head>
  <body>
    {% include "layouts/header.njk" %}
    <main>
      <div class="content">
        {{ content | safe }}
      </div>
    </main>
    {% include "layouts/footer.njk" %}
  </body>
</html>
